@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body{
font-family: 'Poppins', sans-serif,;
margin: 0;
box-sizing: border-box;
overflow: hidden;
}
.main{
 width: 100%; 
 height: 100vh;
 display: flex;
 margin:auto;
}
button{
margin:  auto;
padding: 10px 20px;
cursor: pointer;
background-color: rgb(159, 100, 255);
border: none;
color: white;
outline: none;
border-radius: 20px;
}
.dark{
background-color: rgba(7, 6, 10, 0.966);
}